html {
	margin: 15 15 15 15;
    background-color: #1c2023;
}

body {
	/* Center body */
    margin: 0 auto;
	/* Make sure lines don't get too long */
	max-width: 700px;
}

p,
blockquote,
h1,
h2,
h3,
a,
li,
tr,
td,
th,
time {
    color: #c7ae95;
	font-family: Arial;
}

.blogPostLinkContainer {
	margin-bottom: 7px;
}

.blogPostLink {
	font-size: larger;
}

 /* unvisited link */
a:link {
	/* color: red; */
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #c7c795;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #aec795;
	text-decoration: underline;
}

/* selected link */
a:active {
	color: #95c7ae;
	text-decoration: underline;
} 

/* Regular body text */
p,
blockquote,
li,
tr,
td {
    color: #95aec7;
}

time {
	/* color: #95aec7; */
	color: #7c91a5;
	font-style: italic;
	font-size: smaller;
}

.publishedDate {
	margin-left: 20px;
}

/* Font sizes for consistently sized text */
p,
blockquote,
a,
li {
    font-size: medium;
}

label {
	/* font-size: large; */
	color: #9c7575;
    /* color: #c79595; */
	margin-left: 10px;
	font-style: italic;
}

img {
	width: 100%;
	height: auto;
}

::selection {
    background-color: #c7ae95;
    color: #000000;
}
