html {
	margin: 15 15 15 15;
    background-color: #333333;
}

body {
	/* Center body */
    margin: 0 auto;
	/* Make sure lines don't get too long */
	max-width: 700px;
}

p,
blockquote,
h1,
h2,
h3,
a,
li,
tr,
td,
th {
    color: #cccccc;
	font-family: Arial;
}

/* Font sizes for consistently sized text */
p,
blockquote,
a,
li {
    font-size: medium;
}

label {
	font-size: large;
	color: #cccccc;
}

img {
	width: 100%;
	height: auto;
}
